@import "components/reset";
@import "components/variables";
@import "components/mixins";
@import "components/header";
@import "components/burger";
@import "components/presentation";
@import "components/order";
@import "components/footer";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
}

.container {
  max-width: 1202px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: $blue;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}

button,
input {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.fixed {
  overflow: hidden;
}

@media (max-width: 475px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h4 {
    font-size: 14px;
  }
}
