.footer {
  background-color: $borderListItem;
}

.footer-wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.footer-text {
  color: $whiteText;
  font-size: 13px;
  max-width: 250px;
}

.footer-line {
  margin: 0 70px 0 40px;
  width: 1px;
  height: 18px;
  background-color: #c3c3c3;
}

.footer-payment {
  position: relative;
  font-size: 13px;
  display: flex;
  gap: 68px;
  color: #c3c3c3;
}

.footer-payment__type {
  position: relative;
}

.footer-payment__type.qiwi::before {
  @include footer-decor;
  background-image: url(./../resourses/Frame19.svg);
}
.footer-payment__type.yandex::before {
  @include footer-decor;
  background-image: url(./../resourses/Frame20.svg);
}
.footer-payment__type.web::before {
  @include footer-decor;
  background-image: url(./../resourses/Frame21.svg);
}

.footer-contacts {
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 78px;
  a {
    position: relative;
    transition: all 0.3s ease-in;
  }

  a:hover {
    cursor: pointer;
    color: $blue;
  }
}

.footer-contacts__email::before {
  @include footer-decor;
  background-image: url(./../resourses/message.svg);
}
.footer-contacts__vk::before {
  @include footer-decor;
  background-image: url(./../resourses/В.svg);
}

@media (max-width: 1200px) {
  .footer {
  }
  .container {
  }
  .footer-wrapper {
    column-gap: 40px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text {
    max-width: 350px;
  }
  .footer-line {
    display: none;
  }
  .footer-payment {
  }
  .footer-payment__type {
  }
  .qiwi {
  }
  .yandex {
  }
  .web {
  }
  .footer-contacts {
  }
  .footer-contacts__email {
  }
  .footer-contacts__vk {
  }
}

@media (max-width: 475px) {
  .footer {
  }
  .container {
  }
  .footer-wrapper {
    row-gap: 20px;
  }
  .footer-text {
    max-width: 350px;
  }
  .footer-line {
    display: none;
  }
  .footer-payment {
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .footer-payment__type {
  }
  .qiwi {
  }
  .yandex {
  }
  .web {
  }
  .footer-contacts {
    border-top: 1px solid white;
    padding-top: 15px;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .footer-contacts__email {
  }
  .footer-contacts__vk {
  }
}
