@mixin footer-decor {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
