.order {
  background-image: url(./../resourses/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 920px;
}

.order-wrapper {
  padding-top: 121px;
}

.order-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: $whiteText;
  margin-bottom: 80px;
}

.order-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 209px;
}

.card-decor {
  position: relative;
  background-color: $blue;
  border: 3px solid $borderBlue;
  border-radius: 50%;
  padding: 22px;
}

.card-decor__dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -113px;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
}

.card-decor__dot {
  width: 6px;
  height: 6px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.card-desc {
  color: $whiteText;
  text-align: center;
  padding: 0 10px;
}

.form-order__inputs {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 30px;

  .form-order__dropdown,
  input {
    width: 100%;
    font-size: 18px;
    background-color: #efefef;
    color: #272733;
    cursor: pointer;
    border-radius: 3px;
    border: none;
  }
}

input {
  padding: 12px 10px;
}

.form-order__dropdown {
  position: relative;
}

.dropdown-btn {
  text-align: left;
  width: 100%;
  font-size: 18px;
  background-color: #efefef;
  color: #272733;
  padding: 12px 35px 12px 10px;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
  border: none;
}

.active {
  background-color: $borderListItem;
  color: $whiteText;
}

.dropdown-list {
  position: absolute;
  display: none;
  left: 0;
  top: 45px;
  list-style-type: none;
  width: 100%;
  background-color: $bgListItem;
  overflow: auto;
  height: 228px;
  color: #efefef;
  z-index: 9;
  scroll-behavior: auto;
  border: 1px solid $borderListItem;
  border-radius: 0 0 3px 3px;
}

.dropdown-list__item {
  margin: 0;
  padding: 2px 0 0 10px;
  font-size: 18px;
  line-height: 2.3;
}

.dropdown-list__item:hover {
  color: $blue;
}

.visible {
  display: block;
}

.dropdown-input__hidden {
  display: none;
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  pointer-events: none;
  transition: all 0.3s ease-out;
  fill: $borderListItem;
}

.dropdown-arrow__rotate {
  transform: rotate(180deg);
  fill: $whiteText;
}

// стилизация range

.form-range {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.form-range_desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 777px;
  padding: 0 5px;
  color: $whiteText;
  margin-bottom: 5px;
}

.range-value {
  font-size: 18px;
  color: #c4c4c4;
}

.form-range__input {
  width: 100%;
  border-radius: 5px;
  margin: 15px 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-range__input::-webkit-slider-runnable-track {
  border-radius: 10px;
  height: 7px;
  border: 1px solid white;
  background-color: #c4c4c4;
}

.form-range__input::-webkit-slider-thumb {
  background: $blue;
  border: 2px solid #286690;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  margin-top: -9px;
}

.form-range__input::-moz-range-track {
  border-radius: 10px;
  height: 7px;
  border: 1px solid white;
  background-color: #c4c4c4;
}

.form-range__input::-moz-range-thumb {
  background: $blue;
  border: 2px solid #286690;
  border-radius: 50%;
  cursor: pointer;
}

.form-file {
  width: 30%;
}
// стилизация scrollbar

/* Работает в Firefox */
// * {
//   scrollbar-width: thin;
//   scrollbar-color: blue orange;
// }

// /* Работает в Chrome, Edge и Safari */
// *::-webkit-scrollbar {
//   width: 12px;
// }

// *::-webkit-scrollbar-track {
//   background: orange;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: blue;
//   border-radius: 20px;
//   border: 3px solid orange;
// }
