.order {
  background-image: url(./../resourses/BG.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 150px;
}

.order-wrapper {
  padding-top: 121px;
}

.order-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: $whiteText;
  margin-bottom: 80px;
}

.order-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 209px;
}

.card-decor {
  position: relative;
  background-color: $blue;
  border: 3px solid $borderBlue;
  border-radius: 50%;
  padding: 22px;
  img {
    animation: animate linear 4s infinite;
  }
}

.card-decor__dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -113px;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
}

.card-decor__dot {
  width: 6px;
  height: 6px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.card-desc {
  color: $whiteText;
  text-align: center;
  padding: 0 10px;
}

.form-order__inputs {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 30px;

  .form-order__dropdown,
  input {
    width: 100%;
    font-size: 18px;
    background-color: #efefef;
    color: #272733;
    cursor: pointer;
    border-radius: 3px;
    border: none;
  }
}

input {
  padding: 12px 10px;
}

.form-order__dropdown {
  position: relative;
}

.dropdown-btn {
  text-align: left;
  width: 100%;
  font-size: 18px;
  background-color: #efefef;
  color: #272733;
  padding: 12px 35px 12px 10px;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
  border: none;
}

.active {
  background-color: $borderListItem;
  color: $whiteText;
}

.dropdown-list {
  position: absolute;
  display: none;
  left: 0;
  top: 45px;
  list-style-type: none;
  width: 100%;
  background-color: $bgListItem;
  overflow: auto;
  height: 228px;
  color: #efefef;
  z-index: 9;
  scroll-behavior: auto;
  border: 1px solid $borderListItem;
  border-radius: 0 0 3px 3px;
}

.dropdown-list__item {
  margin: 0;
  padding: 2px 0 0 10px;
  font-size: 18px;
  line-height: 2.3;
}

.dropdown-list__item:hover {
  color: $blue;
}

.visible {
  display: block;
}

.dropdown-input__hidden {
  display: none;
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  pointer-events: none;
  transition: all 0.3s ease-out;
  fill: $borderListItem;
}

.dropdown-arrow__rotate {
  transform: rotate(180deg);
  fill: $whiteText;
}

// стилизация scrollbar
.dropdown-list::-webkit-scrollbar {
  width: 7px;
}
.dropdown-list::-webkit-scrollbar-track {
  background-color: #3d4050;
}
.dropdown-list::-webkit-scrollbar-thumb {
  height: 53px;
  background-color: $blue;
  border-radius: 15px;
}

// стилизация range

.form-range {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  margin-bottom: 55px;
}

.form-range_desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 777px;
  padding: 0 5px;
  color: $whiteText;
  margin-bottom: 5px;
}

.range-value {
  font-size: 18px;
  color: #c4c4c4;
}

.form-range__input {
  width: 100%;
  border-radius: 5px;
  margin: 15px 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-range__input::-webkit-slider-runnable-track {
  border-radius: 10px;
  height: 7px;
  border: 1px solid white;
  background-color: #c4c4c4;
}

.form-range__input::-webkit-slider-thumb {
  background: $blue;
  border: 2px solid #286690;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  margin-top: -9px;
}

.form-range__input::-moz-range-track {
  border-radius: 10px;
  height: 7px;
  border: 1px solid white;
  background-color: #c4c4c4;
}

.form-range__input::-moz-range-thumb {
  background: $blue;
  border: 2px solid #286690;
  border-radius: 50%;
  cursor: pointer;
}

.form-file {
  width: 32%;
}

.inputSubmit {
  display: block;
  padding: 17.5px 140px;
  margin: 0 auto;
  border: 1px solid white;
  color: $whiteText;
  background-color: $blue;
  border-radius: 4px;
  font-size: 15px;
  text-transform: uppercase;
}

.inputSubmit:hover {
  color: $bgListItem;
  background: white;
  border: $bgListItem;
}

// form-file
.form-files {
  width: 100%;
  max-width: 375px;
}

.form-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-label {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  padding: 12.5px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid $blue;
  color: $bgListItem;
  cursor: pointer;
}

.file-label:hover {
  color: white;
  background: $bgListItem;
  border: 1px solid $whiteText;
}

.file-label .file-label__icon {
  transition: all 0.3s ease-in-out;
  fill: #272733;
}

.file-label:hover .file-label__icon {
  fill: white;
}

@keyframes animate {
  0% {
    transform: perspective(23rem) rotateY(0deg);
  }
  25% {
    transform: perspective(23rem) rotateY(90deg);
  }
  50% {
    transform: perspective(23rem) rotateY(180deg);
  }
  75% {
    transform: perspective(23rem) rotateY(270deg);
  }
  100% {
    transform: perspective(23rem) rotateY(360deg);
  }
}

@media (max-width: 1200px) {
  .order-cards {
    max-width: 800px;
    margin: 0 auto 60px;
  }

  .dots-hidden {
    display: none;
  }
}

@media (max-width: 835px) {
  .order {
  }
  .container {
  }
  .order-wrapper {
    padding-top: 80px;
  }
  .order-title {
    margin-bottom: 50px;
  }
  .order-title__desc {
  }
  .order-cards {
    max-width: 800px;
    margin: 0 auto 60px;
  }

  .dots-hidden {
    display: none;
  }
  .card-decor {
  }
  .card-decor__dots {
    display: none;
  }
  .card-decor__dot {
  }
  .card-desc {
  }
  .form-order {
  }
  .form-order__inputs {
    flex-wrap: wrap;
    gap: 20px;
    input {
      font-size: 14px;
    }
  }
  .form-order__dropdown {
  }
  .dropdown-btn {
    font-size: 14px;
  }
  .dropdown-arrow {
  }
  .dropdown-list {
  }
  .dropdown-list__item {
  }
  .dropdown-input__hidden {
  }
  .form-range {
    flex-wrap: wrap;
  }
  .form-range_desc {
  }
  .range-value {
  }
  .form-range__input {
  }
  .form-files {
  }
  .file-label {
    font-size: 14px;
  }
  .file-label__icon {
  }
  .form-file {
  }
  .inputSubmit {
  }
}

@media (max-width: 475px) {
  .order {
    padding-bottom: 90px;
  }
  .container {
  }
  .order-wrapper {
    padding-top: 80px;
  }
  .order-title {
    margin-bottom: 50px;
    text-align: center;
  }
  .order-title__desc {
    text-align: center;
  }
  .order-cards {
    max-width: 800px;
    margin: 0 auto 60px;
  }

  .dots-hidden {
    display: none;
  }

  .card {
    max-width: 150px;
  }
  .card-decor {
  }
  .card-decor__dots {
    display: none;
  }
  .card-decor__dot {
  }
  .card-desc {
  }
  .form-order {
  }
  .form-order__inputs {
    flex-wrap: wrap;
    gap: 20px;
    input {
      font-size: 14px;
    }
  }
  .form-order__dropdown {
  }
  .dropdown-btn {
    font-size: 14px;
  }
  .dropdown-arrow {
  }
  .dropdown-list {
  }
  .dropdown-list__item {
  }
  .dropdown-input__hidden {
  }
  .form-range {
    flex-wrap: wrap;
  }
  .form-range_desc {
  }
  .range-value {
  }
  .form-range__input {
  }
  .form-files {
  }
  .file-label {
    font-size: 14px;
  }
  .file-label__icon {
  }
  .form-file {
  }
  .inputSubmit {
    padding: 10px 70px;
    font-size: 12px;
  }
}
