//fonts
$font-main: "Lato", sans-serif;
$logo-family: "Raleway", sans-serif;

//colors
$blue: #43abf0;
$borderBlue: #286690;
$grayPayment: #c3c3c3;
$bgHeader: #10101d;
$bgFooter: #3d4050;
$whiteText: #fff;
$bgListItem: #272733;
$borderListItem: #3d4050;
